**/.deps
*.log
*.o
*.elf
*.swp

.vs/

Debug/**

## The image file and map file compiled
**/*.map
**/*.elf

## GDB Server related
**/server.out

## ispell related
**/*.bak

## tex related
*.aux
*.dvi
*.ind
*.ilg
*.idx
